<form id="example" action="" class="uk-flex uk-flex-space-between">
	{{#with filters}}
		<input class="uk-button uk-width-medium-3-10" type="text" list="Categories" name="Category" placeholder="Category" value="{{../query.Category}}">
		<datalist id="Categories">
			{{#each Category}}<option value="{{this}}">{{/each}}
		</datalist>
		<input class="uk-button uk-width-medium-3-10" type="text" list="Clients" name="Client" placeholder="Client" value="{{../query.Client}}">
		<datalist id="Clients">
			{{#each Client}}<option value="{{Name}}">{{/each}}
		</datalist>
	{{/with}}
	<button class="uk-button reset uk-width-medium-3-10">↺ Reset</button>
</form>

<script src="/packages/airmad/airmad/snippets/example.js"></script>

<div class="am-stretched grid cards">
	{{#records}}
		{{#fields}}
			<div class="card">
				<div class="card-content uk-panel uk-panel-box">
					<div class="uk-panel-teaser">
						{{#slider Project images}}
					</div>
					<div class="uk-panel-title">
						{{Name}}
					</div>
					<p>
						{{#Client}}
							{{Name}}
						{{/Client}}
					</p>
				</div>
			</div>
		{{/fields}}
	{{/records}}
</div>